@-webkit-keyframes bounceOutLeft {
  /* line 4, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 10, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  10% {
    opacity: .2;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 16, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

@-webkit-keyframes bounceOutRight {
  /* line 24, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 30, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  10% {
    opacity: .5;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 36, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}

@keyframes bounceOutLeft {
  /* line 44, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 50, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  10% {
    opacity: .2;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 56, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

@keyframes bounceOutRight {
  /* line 64, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 70, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  10% {
    opacity: .5;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 76, /Users/ryan/workspace/things/vendor/assets/stylesheets/animate.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}
@font-face {
  font-family: 'Simple-Line-Icons';
  src: url("/assets/Simple-Line-Icons.eot");
  src: url("/assets/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("/assets/Simple-Line-Icons.woff") format("woff"), url("/assets/Simple-Line-Icons.ttf") format("truetype"), url("/assets/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
[data-icon]:before {
  font-family: 'Simple-Line-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 31, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users {
  font-family: 'Simple-Line-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 41, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-user-female:before {
  content: "\e000";
}

/* line 44, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-user-follow:before {
  content: "\e002";
}

/* line 47, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-user-following:before {
  content: "\e003";
}

/* line 50, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-user-unfollow:before {
  content: "\e004";
}

/* line 53, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-trophy:before {
  content: "\e006";
}

/* line 56, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-screen-smartphone:before {
  content: "\e010";
}

/* line 59, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-screen-desktop:before {
  content: "\e011";
}

/* line 62, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-plane:before {
  content: "\e012";
}

/* line 65, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-notebook:before {
  content: "\e013";
}

/* line 68, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-moustache:before {
  content: "\e014";
}

/* line 71, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-mouse:before {
  content: "\e015";
}

/* line 74, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-magnet:before {
  content: "\e016";
}

/* line 77, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-energy:before {
  content: "\e020";
}

/* line 80, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-emoticon-smile:before {
  content: "\e021";
}

/* line 83, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-disc:before {
  content: "\e022";
}

/* line 86, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-cursor-move:before {
  content: "\e023";
}

/* line 89, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-crop:before {
  content: "\e024";
}

/* line 92, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-credit-card:before {
  content: "\e025";
}

/* line 95, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-chemistry:before {
  content: "\e026";
}

/* line 98, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-user:before {
  content: "\e005";
}

/* line 101, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-speedometer:before {
  content: "\e007";
}

/* line 104, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-social-youtube:before {
  content: "\e008";
}

/* line 107, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-social-twitter:before {
  content: "\e009";
}

/* line 110, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-social-tumblr:before {
  content: "\e00a";
}

/* line 113, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-social-facebook:before {
  content: "\e00b";
}

/* line 116, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-social-dropbox:before {
  content: "\e00c";
}

/* line 119, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-social-dribbble:before {
  content: "\e00d";
}

/* line 122, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-shield:before {
  content: "\e00e";
}

/* line 125, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-screen-tablet:before {
  content: "\e00f";
}

/* line 128, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-magic-wand:before {
  content: "\e017";
}

/* line 131, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-hourglass:before {
  content: "\e018";
}

/* line 134, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-graduation:before {
  content: "\e019";
}

/* line 137, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-ghost:before {
  content: "\e01a";
}

/* line 140, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-game-controller:before {
  content: "\e01b";
}

/* line 143, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-fire:before {
  content: "\e01c";
}

/* line 146, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-eyeglasses:before {
  content: "\e01d";
}

/* line 149, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-envelope-open:before {
  content: "\e01e";
}

/* line 152, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-envelope-letter:before {
  content: "\e01f";
}

/* line 155, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-bell:before {
  content: "\e027";
}

/* line 158, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-badge:before {
  content: "\e028";
}

/* line 161, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-anchor:before {
  content: "\e029";
}

/* line 164, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-wallet:before {
  content: "\e02a";
}

/* line 167, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-vector:before {
  content: "\e02b";
}

/* line 170, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-speech:before {
  content: "\e02c";
}

/* line 173, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-puzzle:before {
  content: "\e02d";
}

/* line 176, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-printer:before {
  content: "\e02e";
}

/* line 179, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-present:before {
  content: "\e02f";
}

/* line 182, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-playlist:before {
  content: "\e030";
}

/* line 185, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-pin:before {
  content: "\e031";
}

/* line 188, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-picture:before {
  content: "\e032";
}

/* line 191, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-map:before {
  content: "\e033";
}

/* line 194, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-layers:before {
  content: "\e034";
}

/* line 197, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-handbag:before {
  content: "\e035";
}

/* line 200, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-globe-alt:before {
  content: "\e036";
}

/* line 203, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-globe:before {
  content: "\e037";
}

/* line 206, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-frame:before {
  content: "\e038";
}

/* line 209, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-folder-alt:before {
  content: "\e039";
}

/* line 212, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-film:before {
  content: "\e03a";
}

/* line 215, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-feed:before {
  content: "\e03b";
}

/* line 218, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-earphones-alt:before {
  content: "\e03c";
}

/* line 221, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-earphones:before {
  content: "\e03d";
}

/* line 224, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-drop:before {
  content: "\e03e";
}

/* line 227, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-drawer:before {
  content: "\e03f";
}

/* line 230, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-docs:before {
  content: "\e040";
}

/* line 233, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-directions:before {
  content: "\e041";
}

/* line 236, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-direction:before {
  content: "\e042";
}

/* line 239, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-diamond:before {
  content: "\e043";
}

/* line 242, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-cup:before {
  content: "\e044";
}

/* line 245, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-compass:before {
  content: "\e045";
}

/* line 248, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-call-out:before {
  content: "\e046";
}

/* line 251, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-call-in:before {
  content: "\e047";
}

/* line 254, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-call-end:before {
  content: "\e048";
}

/* line 257, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-calculator:before {
  content: "\e049";
}

/* line 260, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-bubbles:before {
  content: "\e04a";
}

/* line 263, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-briefcase:before {
  content: "\e04b";
}

/* line 266, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-book-open:before {
  content: "\e04c";
}

/* line 269, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-basket-loaded:before {
  content: "\e04d";
}

/* line 272, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-basket:before {
  content: "\e04e";
}

/* line 275, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-bag:before {
  content: "\e04f";
}

/* line 278, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-action-undo:before {
  content: "\e050";
}

/* line 281, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-action-redo:before {
  content: "\e051";
}

/* line 284, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-wrench:before {
  content: "\e052";
}

/* line 287, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-umbrella:before {
  content: "\e053";
}

/* line 290, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-trash:before {
  content: "\e054";
}

/* line 293, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-tag:before {
  content: "\e055";
}

/* line 296, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-support:before {
  content: "\e056";
}

/* line 299, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-size-fullscreen:before {
  content: "\e057";
}

/* line 302, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-size-actual:before {
  content: "\e058";
}

/* line 305, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-shuffle:before {
  content: "\e059";
}

/* line 308, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-share-alt:before {
  content: "\e05a";
}

/* line 311, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-share:before {
  content: "\e05b";
}

/* line 314, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-rocket:before {
  content: "\e05c";
}

/* line 317, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-question:before {
  content: "\e05d";
}

/* line 320, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-pie-chart:before {
  content: "\e05e";
}

/* line 323, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-pencil:before {
  content: "\e05f";
}

/* line 326, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-note:before {
  content: "\e060";
}

/* line 329, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-music-tone-alt:before {
  content: "\e061";
}

/* line 332, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-music-tone:before {
  content: "\e062";
}

/* line 335, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-microphone:before {
  content: "\e063";
}

/* line 338, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-loop:before {
  content: "\e064";
}

/* line 341, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-logout:before {
  content: "\e065";
}

/* line 344, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-login:before {
  content: "\e066";
}

/* line 347, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-list:before {
  content: "\e067";
}

/* line 350, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-like:before {
  content: "\e068";
}

/* line 353, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-home:before {
  content: "\e069";
}

/* line 356, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-grid:before {
  content: "\e06a";
}

/* line 359, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-graph:before {
  content: "\e06b";
}

/* line 362, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-equalizer:before {
  content: "\e06c";
}

/* line 365, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-dislike:before {
  content: "\e06d";
}

/* line 368, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-cursor:before {
  content: "\e06e";
}

/* line 371, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-control-start:before {
  content: "\e06f";
}

/* line 374, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-control-rewind:before {
  content: "\e070";
}

/* line 377, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-control-play:before {
  content: "\e071";
}

/* line 380, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-control-pause:before {
  content: "\e072";
}

/* line 383, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-control-forward:before {
  content: "\e073";
}

/* line 386, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-control-end:before {
  content: "\e074";
}

/* line 389, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-calendar:before {
  content: "\e075";
}

/* line 392, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-bulb:before {
  content: "\e076";
}

/* line 395, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-bar-chart:before {
  content: "\e077";
}

/* line 398, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-arrow-up:before {
  content: "\e078";
}

/* line 401, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-arrow-right:before {
  content: "\e079";
}

/* line 404, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-arrow-left:before {
  content: "\e07a";
}

/* line 407, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-arrow-down:before {
  content: "\e07b";
}

/* line 410, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-ban:before {
  content: "\e07c";
}

/* line 413, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-bubble:before {
  content: "\e07d";
}

/* line 416, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-camcorder:before {
  content: "\e07e";
}

/* line 419, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-camera:before {
  content: "\e07f";
}

/* line 422, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-check:before {
  content: "\e080";
}

/* line 425, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-clock:before {
  content: "\e081";
}

/* line 428, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-close:before {
  content: "\e082";
}

/* line 431, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-cloud-download:before {
  content: "\e083";
}

/* line 434, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-cloud-upload:before {
  content: "\e084";
}

/* line 437, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-doc:before {
  content: "\e085";
}

/* line 440, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-envelope:before {
  content: "\e086";
}

/* line 443, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-eye:before {
  content: "\e087";
}

/* line 446, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-flag:before {
  content: "\e088";
}

/* line 449, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-folder:before {
  content: "\e089";
}

/* line 452, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-heart:before {
  content: "\e08a";
}

/* line 455, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-info:before {
  content: "\e08b";
}

/* line 458, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-key:before {
  content: "\e08c";
}

/* line 461, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-link:before {
  content: "\e08d";
}

/* line 464, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-lock:before {
  content: "\e08e";
}

/* line 467, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-lock-open:before {
  content: "\e08f";
}

/* line 470, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-magnifier:before {
  content: "\e090";
}

/* line 473, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-magnifier-add:before {
  content: "\e091";
}

/* line 476, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-magnifier-remove:before {
  content: "\e092";
}

/* line 479, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-paper-clip:before {
  content: "\e093";
}

/* line 482, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-paper-plane:before {
  content: "\e094";
}

/* line 485, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-plus:before {
  content: "\e095";
}

/* line 488, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-pointer:before {
  content: "\e096";
}

/* line 491, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-power:before {
  content: "\e097";
}

/* line 494, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-refresh:before {
  content: "\e098";
}

/* line 497, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-reload:before {
  content: "\e099";
}

/* line 500, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-settings:before {
  content: "\e09a";
}

/* line 503, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-star:before {
  content: "\e09b";
}

/* line 506, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-symbol-female:before {
  content: "\e09c";
}

/* line 509, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-symbol-male:before {
  content: "\e09d";
}

/* line 512, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-target:before {
  content: "\e09e";
}

/* line 515, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-volume-1:before {
  content: "\e09f";
}

/* line 518, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-volume-2:before {
  content: "\e0a0";
}

/* line 521, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-volume-off:before {
  content: "\e0a1";
}

/* line 524, /Users/ryan/workspace/things/vendor/assets/stylesheets/simple.scss */
.icon-users:before {
  content: "\e001";
}
/*

 */
/* line 6, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 18px;
}

/* line 17, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
a, a:focus, a:visited, a:link, a:hover {
  color: #222;
  text-decoration: none;
  outline: none;
}

/* line 23, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
  background: #3498db;
}
/* line 29, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
nav #nav-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  min-width: 300px;
}
/* line 37, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
nav #nav-container #nav-left .icon-link, nav #nav-container #nav-right .icon-link {
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 46, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
nav #nav-container #nav-left .text-link, nav #nav-container #nav-right .text-link {
  height: 50px;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 12px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 59, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper {
  width: 100%;
  min-height: calc(100% - 50px);
}
/* line 62, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 50px 16px 100px 16px;
  position: relative;
  max-width: 900px;
  min-width: 300px;
}
/* line 71, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: .5rem;
}
/* line 77, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .delete-list-link-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 80, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .delete-list-link-wrapper .delete-list-link {
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: .1rem;
  transition: color 50ms ease-in-out;
}
/* line 86, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .delete-list-link-wrapper .delete-list-link:hover {
  color: #e74c3c;
}
/* line 91, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper h4 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}
/* line 96, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  padding: 10px 0;
  font-size: 1.4rem;
}
/* line 102, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item.blur {
  opacity: .05;
}
/* line 105, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content, #wrapper #container .item-wrapper .item .item-create {
  width: calc(100% - 200px);
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;
}
/* line 111, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .list-link:hover, #wrapper #container .item-wrapper .item .item-create .list-link:hover {
  color: #3498db;
}
/* line 114, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .list-link .list-title, #wrapper #container .item-wrapper .item .item-create .list-link .list-title {
  outline: none;
}
/* line 118, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .thing-count, #wrapper #container .item-wrapper .item .item-create .thing-count {
  opacity: .5;
  transition: opacity 100ms ease-out;
  color: #3498db;
}
/* line 122, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .thing-count.low, #wrapper #container .item-wrapper .item .item-create .thing-count.low {
  color: #2ecc71;
}
/* line 125, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .thing-count.medium, #wrapper #container .item-wrapper .item .item-create .thing-count.medium {
  color: #f1c40f;
}
/* line 128, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .thing-count.high, #wrapper #container .item-wrapper .item .item-create .thing-count.high {
  color: #e74c3c;
}
/* line 131, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-content .thing-count:hover, #wrapper #container .item-wrapper .item .item-create .thing-count:hover {
  opacity: 1;
}
/* line 136, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-create {
  padding: 0 10px;
  outline: none;
}
/* line 140, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-create:empty:before {
  color: #999;
  content: attr(data-placeholder);
}
/* line 145, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-create:empty:focus:before {
  content: "";
}
/* line 151, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions {
  width: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 154, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions.right {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 157, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions.left {
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 160, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions .item-action {
  box-sizing: border-box;
  padding: 0 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: color 100ms ease-in-out;
  cursor: pointer;
}
/* line 167, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions .item-action.positive:hover {
  color: #2ecc71;
}
/* line 172, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions .item-action.neutral:hover {
  color: #3498db;
}
/* line 177, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item .item-actions .item-action.negative:hover {
  color: #e74c3c;
}
/* line 183, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item.slide-left {
  -webkit-animation: bounceOutLeft 600ms;
  animation: bounceOutLeft 600ms;
}
/* line 187, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-wrapper .item.slide-right {
  -webkit-animation: bounceOutRight 600ms;
  animation: bounceOutRight 600ms;
}
/* line 193, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#wrapper #container .item-create {
  padding: 10px;
  width: 600px;
}

/* line 200, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 520px;
  padding: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 207, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container {
  max-width: 800px;
}
/* line 209, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #info-container {
  width: 100%;
  text-align: center;
}
/* line 212, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #info-container h1 {
  font-size: 4rem;
  margin: 20px 0;
  font-weight: 900;
}
/* line 217, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #info-container h3 {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 400;
}
/* line 222, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #info-container h4 {
  font-size: 1rem;
  font-style: italic;
  margin: 10px 0 40px;
}
/* line 228, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container {
  width: 300px;
  margin: 0 auto;
}
/* line 231, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container input[type='email'], #login-wrapper #login-container #form-container input[type='text'], #login-wrapper #login-container #form-container input[type='password'] {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 14px;
  background: #fff;
  outline: none;
  border: 2px solid #222;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: 4px auto;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* line 244, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container input[type='email']:-webkit-autofill, #login-wrapper #login-container #form-container input[type='text']:-webkit-autofill, #login-wrapper #login-container #form-container input[type='password']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* line 248, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container .login-btn, #login-wrapper #login-container #form-container .register-btn, #login-wrapper #login-container #form-container .other-btn {
  display: block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  color: #fff;
  border-radius: none;
  text-decoration: none;
  border: 2px solid #222;
  margin: 3px 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-weight: 300;
  background: transparent;
}
/* line 268, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container .login-btn {
  background: #2ecc71;
  color: #fff;
}
/* line 271, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container .login-btn:hover {
  background: #40d47e;
}
/* line 275, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container .register-btn {
  background: #3498db;
  color: #fff;
}
/* line 278, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container .register-btn:hover {
  background: #4aa3df;
}
/* line 282, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
#login-wrapper #login-container #form-container .other-btn {
  background: #fff;
  color: #222;
}

@media screen and (max-width: 599px) {
  /* line 295, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #wrapper #container .item-wrapper .item .item-content, #wrapper #container .item-wrapper .item .item-create {
    width: calc(100% - 100px);
  }
  /* line 299, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #wrapper #container .item-wrapper .item.thing .item-actions {
    width: 50px;
  }
  /* line 301, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #wrapper #container .item-wrapper .item.thing .item-actions .delete-thing-link {
    display: none;
  }
  /* line 307, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #wrapper #container .item-wrapper .item.list .item-content, #wrapper #container .item-wrapper .item.list .item-create {
    width: 100%;
  }
  /* line 310, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #wrapper #container .item-wrapper .item.list .item-actions {
    display: none;
  }

  /* line 321, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #login-wrapper #login-container #info-container h1 {
    font-size: 3rem;
  }
  /* line 324, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #login-wrapper #login-container #info-container h3 {
    font-size: 1.5rem;
  }
  /* line 327, /Users/ryan/workspace/things/app/assets/stylesheets/main.scss */
  #login-wrapper #login-container #info-container h4 {
    font-size: 1rem;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

