<% content_for :nav_right do %>
  <%= link_to procrastinated_things_path, tabindex: -1, class: 'text-link' do %>
    Tomorrow
  <% end %>
<% end %>

<div class='item-wrapper'>
	<%= render @things %>
  <div class='item'>
    <div id='new-thing' class='item-create' contenteditable="true"></div>
  </div>
</div>
