<% content_for :nav_left do %>
  <%= link_to list_things_path(@list), tabindex: -1, class: 'text-link' do %>
    Back to Today
  <% end %>
<% end %>

<div class='item-wrapper'>
  <h1><%= @list.title %></h1>
  <% @procrastinated_things.each do |thing| %>
    <%= render 'procrastinated_thing', thing: thing %>
  <% end %>
  <div class='item'>
    <div id='new-thing' class='item-create' data-list-id=<%= @list.id %> data-procrastinated='true' data-placeholder='Add a procrastinated thing' contenteditable="true"></div>
  </div>
</div>
