// Variables

// Colors

$red: rgb(231, 76, 60);
$orange: rgb(230, 126, 34);
$yellow: rgb(241, 196, 15);
$blue: rgb(52, 152, 219);
$green: rgb(46, 204, 113);

$nav-height: 50px;

$primary-font: 'Source Sans Pro', sans-serif;

$primary-color: rgb(52, 152, 219);
$secondary-color: rgb(231, 76, 60);
$other-color: rgb(149, 165, 166);

$success-color: $green;
$negative-color: $red;
$neutral-color: $blue;

$low-color: $green;
$medium-color: $yellow;
$high-color: $red;

// Mixins

@mixin flex-center {
  @include flex;
  @include flex-justify(center);
  @include flex-align-items(center);
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align-items($position) {
  -webkit-box-align: $position; 
  -moz-box-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;  
}

@mixin flex-align($position) {
  -webkit-align-content: $position;  
  align-content: $position;  
}

@mixin flex-justify($position) {
  -webkit-box-pack: $position;
  -moz-box-pack: $position;
  -ms-flex-pack: $position;
  -webkit-justify-content: $position;
  justify-content: $position;
}

@mixin flex-flow($flow){
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}

// Styles

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: #222;
  font-weight: 300;
  font-size: 24px;
}

a, a:focus, a:visited, a:link, a:hover {
  color: #222;
  text-decoration: none;
  outline: none;
}

nav {
  width: 100%;
  height: $nav-height;
  position: fixed;
  @include flex;
  @include flex-justify(space-between);
  #nav-left, #nav-right{
    .icon-link {
      width: 50px;
      height: 50px;
      display: block;
      text-decoration: none;
      font-size: 22px;
      @include flex-center;
    }
    .text-link {
      height: 50px;
      display: block;
      text-decoration: none;
      font-size: 22px;
      padding: 0 12px;
      @include flex-center;
    }
  }
}

// http://daneden.github.io/animate.css

@-webkit-keyframes bounceOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    opacity: .2;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

@-webkit-keyframes bounceOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    opacity: .5;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}

@keyframes bounceOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    opacity: .2;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

@keyframes bounceOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    opacity: .5;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}

#wrapper {
  width: 100%;
  min-height: calc(100% - #{$nav-height});
  #container {
    width: 800px;
    margin: 0 auto;
    padding: $nav-height 0 100px 0;
    position: relative;
    .item-wrapper {
      h1 {
        text-align: center;
        text-transform: uppercase;
      }
      .item {
        @include flex;
        @include flex-justify(center);
        @include flex-align-items(center);
        padding: 10px 0;
        .item-content, .item-create {
          width: 600px;
          box-sizing: border-box;
          padding: 0 10px;
          outline: none;
          .list-title {
            outline: none;
          }
          .thing-count {
            opacity: .5;
            transition: opacity 100ms ease-out;
            &.low{
              color: $low-color;
            }
            &.medium{
              color: $medium-color;
            }
            &.high{
              color: $high-color;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
        .item-create {
          padding: 0 10px;
          outline: none;
          &:empty {
            &:before {
              color: #999;
              content: attr(data-placeholder);
            }
            &:focus {
              &:before {
                content: ''   
              }
            }
          }
        }
        .item-actions {
          width: 100px;
          @include flex;
          &.right {
            @include flex-justify(flex-start);
          }
          &.left {
            @include flex-justify(flex-end);
          }
          .item-action {
            box-sizing: border-box;
            padding: 0 10px;
            @include flex-center;
            transition: color 100ms ease-in-out;
            &.positive {
              &:hover {
                color: $success-color;
              }
            }
            &.neutral {
              &:hover {
                color: $neutral-color;
              }
            }
            &.negative {
              &:hover {
                color: $negative-color;
              }
            }
          }
        }
        &.slide-left {
          -webkit-animation: bounceOutLeft 600ms;
          animation: bounceOutLeft 600ms;
        }
        &.slide-right {
          -webkit-animation: bounceOutRight 600ms;
          animation: bounceOutRight 600ms;
        }
      }
    }
    .item-create {
      padding: 10px;
      width: 600px;
    }
  }
}

#login-wrapper {
  width: 100%;
  height: calc(100% - #{$nav-height});
  @include flex-center;
  #login-container {
    width: 300px;
    margin-top: -$nav-height;
    h1 {
      font-size: 72px;
      text-align: center;
      margin: .1em 0;
    }
    input[type='email'], input[type='text'], input[type='password'] {
      box-sizing: border-box;
      width: 100%;
      padding: 12px 14px;
      background: #fff;
      outline: none;
      border: 1px solid #999;
      font-size: 18px;
      font-family: $primary-font;
      font-weight: 300;
      &:-webkit-autofill {
         -webkit-box-shadow: 0 0 0px 1000px white inset;
      }
    }
    .login-btn, .register-btn, .other-btn {
      display: block;
      text-align: center;
      cursor: pointer;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 20px;
      font-family: $primary-font;
      font-weight: 300;
      outline: none;
      color: #fff;
      border: none;
      text-decoration: none;
      border: 2px solid #222;
      margin: 3px 0;
      font-weight: 600;
      background: transparent;
      color: #222;
      &:hover {
        background: #222;
        color: #fff;
      }
    }
  }
}