// Variables

$container-width: 800px;

// Colors

$red: rgb(231, 76, 60);
$orange: rgb(230, 126, 34);
$yellow: rgb(241, 196, 15);
$blue: rgb(52, 152, 219);
$green: rgb(46, 204, 113);
$turquoise: rgb(26, 188, 156);

$nav-height: 50px;

$primary-font: 'Source Sans Pro', sans-serif;

$primary-color: rgb(52, 152, 219);
$secondary-color: rgb(231, 76, 60);
$other-color: rgb(149, 165, 166);

$success-color: $green;
$negative-color: $red;
$neutral-color: $blue;

$low-color: $green;
$medium-color: $yellow;
$high-color: $red;